
.container {
    border-radius: 8px;
    background-color: rgb(86, 76, 76);
    width: 320px;
    text-align: center;
    margin: 10px 10px;
    color: white;
    position: relative;
}
img {
    height: auto;
    width: 299px;
    margin-top: 10px;
}
p {
    font-size: large;
}
.close {
    width: 2em;
    position: absolute;
    right: 10px;
    top: 10px;
}